header {background-color: orange}

header nav {background-color: blanchedalmond;}

header nav ul {
    list-style: none;
    display: flex;
    color: darkorange;}

    header nav ul li a {color: black;
        text-decoration: none;
        margin: 20px;
        font-size: large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;}